01-features/01-harness/01-advanced-examples/06-async-step-function/cloudformation.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Complete weather workflow: Harness + Step Functions + DynamoDB'

Parameters:
  TableName:
    Type: String
    Default: weather-data
    Description: DynamoDB table name

  StateMachineName:
    Type: String
    Default: WeatherWorkflow
    Description: Step Functions state machine name

  HarnessName:
    Type: String
    Default: WeatherHarness
    Description: AgentCore harness name

Resources:
  # DynamoDB Table
  WeatherTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Ref TableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: S
        - AttributeName: city
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
        - AttributeName: timestamp
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: city-index
          KeySchema:
            - AttributeName: city
              KeyType: HASH
            - AttributeName: timestamp
              KeyType: RANGE
          Projection:
            ProjectionType: ALL

  # IAM Role for Harness
  HarnessExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${HarnessName}-ExecutionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: bedrock-agentcore.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: HarnessExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: BedrockModelInvocation
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                Resource:
                  - arn:aws:bedrock:*::foundation-model/*
                  - !Sub arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:*
              - Sid: BedrockMantleInference
                Effect: Allow
                Action:
                  - bedrock-mantle:CreateInference
                Resource: !Sub arn:aws:bedrock-mantle:${AWS::Region}:${AWS::AccountId}:*
              - Sid: BedrockMantleCallWithBearerToken
                Effect: Allow
                Action:
                  - bedrock-mantle:CallWithBearerToken
                Resource: '*'
              - Sid: EcrPublicTokenAccess
                Effect: Allow
                Action:
                  - ecr-public:GetAuthorizationToken
                Resource: '*'
              - Sid: StsForEcrPublicPull
                Effect: Allow
                Action:
                  - sts:GetServiceBearerToken
                Resource: '*'
              - Sid: XRayTracingAccess
                Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                  - xray:GetSamplingRules
                  - xray:GetSamplingTargets
                Resource: '*'
              - Sid: CloudWatchLogsGroup
                Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:DescribeLogStreams
                Resource: !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/bedrock-agentcore/runtimes/*
              - Sid: CloudWatchLogsDescribeGroups
                Effect: Allow
                Action:
                  - logs:DescribeLogGroups
                Resource: !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:*
              - Sid: CloudWatchLogsStream
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/bedrock-agentcore/runtimes/*:log-stream:*
              - Sid: CloudWatchMetricsPublish
                Effect: Allow
                Action:
                  - cloudwatch:PutMetricData
                Resource: '*'
                Condition:
                  StringEquals:
                    cloudwatch:namespace: bedrock-agentcore
              - Sid: AgentCoreWorkloadIdentity
                Effect: Allow
                Action:
                  - bedrock-agentcore:GetWorkloadAccessToken
                  - bedrock-agentcore:GetWorkloadAccessTokenForJWT
                Resource:
                  - !Sub arn:aws:bedrock-agentcore:${AWS::Region}:${AWS::AccountId}:workload-identity-directory/default
                  - !Sub arn:aws:bedrock-agentcore:${AWS::Region}:${AWS::AccountId}:workload-identity-directory/default/workload-identity/harness_harness_*
              - Sid: AgentCoreBrowserDefault
                Effect: Allow
                Action:
                  - bedrock-agentcore:StartBrowserSession
                  - bedrock-agentcore:StopBrowserSession
                  - bedrock-agentcore:GetBrowserSession
                  - bedrock-agentcore:ListBrowserSessions
                  - bedrock-agentcore:UpdateBrowserStream
                  - bedrock-agentcore:ConnectBrowserAutomationStream
                  - bedrock-agentcore:ConnectBrowserLiveViewStream
                Resource: !Sub arn:aws:bedrock-agentcore:${AWS::Region}:aws:browser/*
              - Sid: AgentCoreCodeInterpreterDefault
                Effect: Allow
                Action:
                  - bedrock-agentcore:StartCodeInterpreterSession
                  - bedrock-agentcore:StopCodeInterpreterSession
                  - bedrock-agentcore:GetCodeInterpreterSession
                  - bedrock-agentcore:ListCodeInterpreterSessions
                  - bedrock-agentcore:InvokeCodeInterpreter
                Resource: !Sub arn:aws:bedrock-agentcore:${AWS::Region}:aws:code-interpreter/*
              - Sid: EFSClientAccess
                Effect: Allow
                Action:
                  - elasticfilesystem:ClientMount
                  - elasticfilesystem:ClientWrite
                Resource: !Sub arn:aws:elasticfilesystem:${AWS::Region}:${AWS::AccountId}:file-system/*
                Condition:
                  ArnLike:
                    elasticfilesystem:AccessPointArn: !Sub arn:aws:elasticfilesystem:${AWS::Region}:${AWS::AccountId}:access-point/*
              - Sid: EFSDescribe
                Effect: Allow
                Action:
                  - elasticfilesystem:DescribeAccessPoints
                  - elasticfilesystem:DescribeMountTargets
                Resource:
                  - !Sub arn:aws:elasticfilesystem:${AWS::Region}:${AWS::AccountId}:file-system/*
                  - !Sub arn:aws:elasticfilesystem:${AWS::Region}:${AWS::AccountId}:access-point/*
              - Sid: S3FilesClientAccess
                Effect: Allow
                Action:
                  - s3files:ClientMount
                  - s3files:ClientWrite
                  - s3files:ClientRootAccess
                Resource: !Sub arn:aws:s3files:${AWS::Region}:${AWS::AccountId}:file-system/*
                Condition:
                  ArnLike:
                    s3files:AccessPointArn: !Sub arn:aws:s3files:${AWS::Region}:${AWS::AccountId}:file-system/*/access-point/*
              - Sid: S3FilesDescribe
                Effect: Allow
                Action:
                  - s3files:GetAccessPoint
                  - s3files:ListMountTargets
                Resource:
                  - !Sub arn:aws:s3files:${AWS::Region}:${AWS::AccountId}:file-system/*
                  - !Sub arn:aws:s3files:${AWS::Region}:${AWS::AccountId}:file-system/*/access-point/*

  # AgentCore Harness
  WeatherHarness:
    Type: AWS::BedrockAgentCore::Harness
    DependsOn: HarnessExecutionRole
    Properties:
      HarnessName: !Ref HarnessName
      ExecutionRoleArn: !GetAtt HarnessExecutionRole.Arn
      Model:
        BedrockModelConfig:
          ModelId: global.anthropic.claude-haiku-4-5-20251001-v1:0
      SystemPrompt:
        - Text: You are a weather assistant that searches the web for real-time weather data. When asked about weather for a specific city and date, use your search tool to find accurate forecasts. Always return results as a JSON object with the exact fields requested - id (uuid), timestamp (unix timestamp), city, date, temperature_c, temperature_f, and conditions (brief description).
      Tools:
        - Name: exa_search
          Type: remote_mcp
          Config:
            RemoteMcp:
              Url: https://mcp.exa.ai/mcp

  # IAM Role for Step Functions
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${StateMachineName}-ExecutionRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPermissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock-agentcore:InvokeHarness
                  - bedrock-agentcore:InvokeAgentRuntime
                Resource: !GetAtt WeatherHarness.Arn
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:GetItem
                Resource: !GetAtt WeatherTable.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  # CloudWatch Log Group
  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/stepfunctions/${StateMachineName}
      RetentionInDays: 7

  # Step Functions State Machine
  WeatherStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn: WeatherHarness
    Properties:
      StateMachineName: !Ref StateMachineName
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      LoggingConfiguration:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StepFunctionsLogGroup.Arn
      DefinitionSubstitutions:
        HarnessArn: !GetAtt WeatherHarness.Arn
        TableName: !Ref TableName
      DefinitionString: |
        {
          "Comment": "Weather workflow with Harness, JSON extraction, and DynamoDB",
          "StartAt": "InvokeHarness",
          "States": {
            "InvokeHarness": {
              "Type": "Task",
              "Resource": "arn:aws:states:::bedrockagentcore:invokeHarness",
              "Parameters": {
                "RuntimeSessionId.$": "States.UUID()",
                "Messages": [
                  {
                    "Content": [
                      {
                        "Text.$": "States.Format('Get weather forecast for {} on {}. Search the web for real weather data. Return a JSON object with: id (generate a uuid), timestamp (unix timestamp), city (string), date (string), temperature_c (number), temperature_f (number), conditions (string description)', $.city, $.date)"
                      }
                    ],
                    "Role": "user"
                  }
                ],
                "HarnessArn": "${HarnessArn}"
              },
              "ResultPath": "$.harnessOutput",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": ["States.Timeout", "States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "HandleError"
                }
              ],
              "Next": "ExtractBetweenBraces"
            },
            "ExtractBetweenBraces": {
              "Type": "Pass",
              "Parameters": {
                "fullText.$": "$.harnessOutput.Output.Message.Content[0].Text",
                "reconstructed.$": "States.Format('\\{{}\\}', States.ArrayGetItem(States.StringSplit(States.ArrayGetItem(States.StringSplit($.harnessOutput.Output.Message.Content[0].Text, '{'), 1), '}'), 0))"
              },
              "ResultPath": "$.extracted",
              "Next": "ParseJSON"
            },
            "ParseJSON": {
              "Type": "Pass",
              "Parameters": {
                "data.$": "States.StringToJson($.extracted.reconstructed)"
              },
              "ResultPath": "$.parsed",
              "Next": "StoreToDynamoDB"
            },
            "StoreToDynamoDB": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${TableName}",
                "Item": {
                  "id": {
                    "S.$": "$.parsed.data.id"
                  },
                  "timestamp": {
                    "S.$": "States.Format('{}', $.parsed.data.timestamp)"
                  },
                  "city": {
                    "S.$": "$.parsed.data.city"
                  },
                  "date": {
                    "S.$": "$.parsed.data.date"
                  },
                  "temperature_c": {
                    "N.$": "States.Format('{}', $.parsed.data.temperature_c)"
                  },
                  "temperature_f": {
                    "N.$": "States.Format('{}', $.parsed.data.temperature_f)"
                  },
                  "conditions": {
                    "S.$": "$.parsed.data.conditions"
                  },
                  "input_city": {
                    "S.$": "$.city"
                  },
                  "input_date": {
                    "S.$": "$.date"
                  }
                }
              },
              "End": true
            },
            "HandleError": {
              "Type": "Pass",
              "Parameters": {
                "error": "Harness invocation failed",
                "details.$": "$.error"
              },
              "End": true
            }
          }
        }

Outputs:
  DynamoDBTableName:
    Description: DynamoDB table name
    Value: !Ref WeatherTable
    Export:
      Name: !Sub ${AWS::StackName}-TableName

  DynamoDBTableArn:
    Description: DynamoDB table ARN
    Value: !GetAtt WeatherTable.Arn
    Export:
      Name: !Sub ${AWS::StackName}-TableArn

  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref WeatherStateMachine
    Export:
      Name: !Sub ${AWS::StackName}-StateMachineArn

  HarnessArn:
    Description: AgentCore harness ARN
    Value: !GetAtt WeatherHarness.Arn
    Export:
      Name: !Sub ${AWS::StackName}-HarnessArn

  HarnessId:
    Description: AgentCore harness ID
    Value: !Ref WeatherHarness
    Export:
      Name: !Sub ${AWS::StackName}-HarnessId
